DATABASE_URL="postgresql://user:password@ep-example.us-east-1.aws.neon.tech/neondb?sslmode=require"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="replace-this-with-a-random-secret-at-least-32-characters-long"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_TOKEN=""
NYT_API_KEY="Foc5KBsQLAdxKAhmArByz6NnF4gDOImz27BIZvwVcvlv9m1X"
NYT_API_SECRET_KEY="ryeH2WQLNUVPXeGhhNdy5TjA9IltmNz2dIGNNaOve9u9yjAzX9AXinOx1j0yDC9T"
CORE_API_KEY= # gratis en https://core.ac.uk/services/api
TMDB_API_KEY= # gratis en https://www.themoviedb.org/settings/api